[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
python-dotenv = "*"
uvicorn = "*"
"mysql.connector" = "*"

[dev-packages]
pytest = "*"
docker = "*"

[requires]
python_version = "3.11"
